<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css'
    />
    <script src='https://unpkg.com/@popperjs/core@2'></script>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js'
    ></script>
    <link rel='stylesheet' href='/resources/css/style.css' />

  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-12 mt-5'>
          <form
            id='create-page'
            onsubmit='return validatForm(event)'
            novalidate
          >
            <div class='modal-header'>
              <h5 class='modal-title' id='addPageModalLabel'>Utworz stronę</h5>
            </div>
            <div class='modal-body'>
              <div class='col-auto'>
                <label for='name' class='form-label'>Nazwa</label>
                <input
                  type='text'
                  class='form-control form-control-sm'
                  id='name'
                  name='name'
                  placeholder='Nazwa strony'
                  required
                />
                <div class='invalid-feedback'>
                  Podaj prawidłową nazwę.
                </div>
              </div>
            </div>
            <div class='modal-footer'>
              <button
                type='button'
                class='btn btn-secondary btn-sm'
                data-bs-dismiss='modal'
                onclick='clearForm()'
              >
                Zamknij
              </button>
              <button type='submit' class='btn btn-primary btn-sm'>
                Dodaj
              </button>
            </div>
          </form>
        </div>
        <div class='col-12 my-2'>
          <table class='table table-bordered table-hover'>
            <thead>

              <tr>
                <td>ID</td>
                <td>Nazwa</td>
                <td>Slug</td>
                <td>Działanie</td>
              </tr>
            </thead>
            <tbody>

              {{#each pages}}
                <tr>
                  <td>{{this._id}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.slug}}</td>
                  <td>
                    <a href='/api/editor/{{this._id}}'>Zmienić</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src='/resources/js/custom.js'></script>

  </body>
</html>